@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Nunito", sans-serif;
	font-weight: 400;
}

a {
	text-decoration: none;
}

a,
button {
	cursor: pointer;
	transition: 0.2s linear;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1180px;
	padding: 0 15px;
}

/* header styles */
.header {
	padding: 20px 0;
	background-color: #6867ac;
}

.logo {
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
}

/* contacts styles */

.contacts {
	padding: 40px 0;
}

.contacts__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

/* contact card styles */
.contactCard {
	width: 100%;
	max-width: 260px;
	-webkit-box-shadow: 0px 1px 10px -2px #a267ac;
	box-shadow: 0px 1px 10px -2px #a267ac;
	border-radius: 5px;
}
.contactCard__img {
	padding: 10px 0;
}
.contactCard__img__inner {
	width: 100px;
	border-radius: 50%;
}
.contactCard__img__inner img {
	border-radius: 50%;
}

.contactCard__info {
	padding: 20px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.contactCard__info__item {
	margin: 10px 0;
	font-size: 16px;
}

.contactCard__name {
	margin: 5px 0;
	font-size: 18px;
	color: #333;
	font-weight: 600;
}

.contactCard__icon {
	color: #6867ac;
	margin-right: 10px;
}

.contactCard__btn {
	display: inline-block;
	margin-top: 20px;
	padding: 5px 15px;
	background-color: transparent;
	color: #333;
	font-weight: 600;
	border: 1px solid #333;
	border-radius: 3px;
}

.contactCard__btn:hover {
	background-color: #333;
	color: #fff;
}

/* contact styles */

.contact {
	height: 100vh;
	background-color: #6867ac;
}

.contact__inner,
.contact__form-actions,
.contact,
.contactCard__img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact__form {
	width: 100%;
	max-width: 500px;
	background-color: #fff;
	padding: 32px;
	border-radius: 10px;
}

.contact__form-item {
	margin-bottom: 15px;
}

.contact__form-item input {
	width: 100%;
	padding: 10px 15px;
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	outline: none;
	border: 1px solid rgba(33, 33, 33, 0.35);
	border-radius: 2px;
	font-size: 16px;
}

.contact__form__label {
	display: block;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 8px;
}

.contact__form-btn {
	padding: 10px 20px;
	margin-right: 20px;
	background-color: #333;
	color: #fff;
	border: 1px solid #333;
	border-radius: 3px;
	font-size: 14px;
}

.contact__form-btn:hover {
	color: #333;
	background-color: transparent;
}
